---
import Layout from "../layouts/Layout.astro";
import pfp from "../images/pfp.webp";
import Tiles from "../components/Tiles.astro";
import tilesets from "../data/tilesets";

const pageTitle = `Links | Tiger Taylor${import.meta.env.DEV ? " (Dev)" : ""}`;
---

<Layout title={pageTitle} description="Links to my social media and accounts">
  <main class="flex flex-col items-center justify-center grow sm:min-h-0 max-sm:bg-white/20 max-sm:backdrop-blur-lg">
    <div
      class="sm:h-auto w-full max-w-md p-8 sm:bg-white/20 sm:backdrop-blur-lg sm:rounded-3xl sm:shadow-xl flex flex-col items-center"
    >
      <div class="flex flex-col items-center mb-4 pb-4 border-b border-white/60">
        <img src={pfp.src} alt="Profile" width="1024" height="1024" class="w-56 h-56 rounded-full shadow-lg mb-6" />
        <h1 class="text-5xl font-bold text-white mb-2">Tiger Taylor</h1>
      </div>
      <div class="flex flex-col items-center gap-8">
        {tilesets.map((tileset) => <Tiles tileset={tileset} />)}
      </div>
    </div>
  </main>
  <footer class="flex justify-center items-center h-10 text-white max-sm:bg-white/20 max-sm:backdrop-blur-lg">
    &copy; Tiger Taylor {new Date().getFullYear()}
  </footer>
</Layout>
