---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<li class="flex items-start">
  <div class="bg-blue-100 p-1 rounded-full mr-2 mt-1">
    <div class="w-2 h-2 bg-blue-600 rounded-full"></div>
  </div>
  <div>
    <span class="font-medium text-gray-900">{title}</span>
    <p class="text-sm text-gray-600">{description}</p>
  </div>
</li>
